.toy-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  .toy-item {
    width: 84px;
    height: 84px;
    background-color: rgba(128, 128, 128, 0.664);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    &:hover {
      background-color: gray;
    }
    img {
      width: 70%;
    }
    .toy-count {
      width: 25px;
      height: 25px;
      position: absolute;
      bottom: 0;
      right: 0;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(99, 165, 165);
    }
  }
}
